<!DOCTYPE html>
<html>
    <head>
        <title> Weather Application : Help </title>
        <link rel='icon' href='/img/weather.png'>
        <link rel='stylesheet' href='/css/styles.css'>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p> Go to main page and type the search location is search box to know weather of the location.</p>
        </div>
        {{>footer}}
    </body>
</html>
